
body {
    color: #666666;
    background: #F6D155;
}
.wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
}
.wrapper .sidebar {
    position: relative;
    width: 100%;
    float: left;
    background: #222222;
}
.wrapper .content {
    position: relative;
    width: 100%;
    padding: 15px;
    float: left;
    background: #F6D155;
}
    .wrapper .sidebar {
        position: fixed;
        width: 300px;
        height: 100%;
        margin-left: -250px;
        float: left;
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: gray;
        z-index: 2;
    }
    .wrapper .sidebar .sidebar-header img {
        width: 100%;
        height: auto;
    }
    .wrapper .sidebar {
        margin: 0;
    }
    .wrapper .content {
        width: calc(100% - 300px);
        margin-left: 300px;
    }
.header {
    position: relative;
    background: #ffffff;
}
.header .content-inner {
    padding: 125px 30px;

}
.header h1 {
    color: #222222;
    font-size: 50px;
    font-weight: 700;
}
.large-btn .content-inner {
    font-size: 0;
    border-bottom: 30px solid #F6D155;
}
.content-header h2 {
    color: #222222;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0;
}
.about {
    position: relative;
    padding: 60px 30px;
    background: #ffffff;
    border-bottom: 30px solid #F6D155;
}
.about img {
    width: 100%;
    height: auto;
}
.education {
    position: relative;
    padding: 60px 30px;
    background: #ffffff;
    border-bottom: 30px solid #F6D155;
}
.education .edu-col {
    position: relative;
    width: 100%;
    padding: 20px 0 20px 20px;
    border-left: 1px solid #FF6F61;
}
.education .edu-col span {
    position: relative;
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.education .edu-col span::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    background: #FF6F61;
    top: 5px;
    left: -26px;
    border-radius: 5px;
}
.education .edu-col h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}
.skill {
    position: relative;
    padding: 60px 30px;
    background: #ffffff;
    border-bottom: 30px solid #F6D155;
}
.skill .exp-col p {
    margin: 0;
}
.contact {
    position: relative;
    padding: 60px 30px 30px 30px;
    background: #ffffff;
}
.footer {
    position: relative;
    width: 100%;
    padding: 30px 30px 0 30px;
    background: #F6D155;
}
.footer .col-md-6:last-child {
    text-align: right;
}
.footer p {
    color: #222222;
    margin: 0;
}
.footer a {
    color: #FF6F61;
    font-weight: 600;
}
.footer a:hover {
    color: #222222;
}